*{
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 145vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(images/cbtisPlantel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 5%;
    height: 100px;
}
.logo{
    height: 50px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
