*{
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 145vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(images/cbtisPlantel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 5%;
    height: 100px;
}
/*ESTILO DEL HEADER*/
.logo{
    height: 70px;
    border-radius: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icono{
    border-radius: 30px;
    height: 60px;
}
.item{
    margin: 0 15px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.item:hover{
    color: blue;
}
label{
    cursor: pointer;
    display: none;
}
.btnlogin{
    padding: 10px 24px; 
    border-radius: 30px;
    background-color: crimson;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.btnlogin:hover{
    background-color: blue ;
}
